/*  your css code here. If applicable */
/* @keyframes ex {
	0%  {content : "h";
		transition: scaleX(0);}
	25% {content : "he";}
    50% {content: "hel";}
	75% {content: "hell";
		transition: scaleX(2);}
	100% {content: "hello";}
    } */
		 
/* 		left:20%;
		height:10px;}
	100% {transform : rotate(360deg)
		  left:10%;}
	       } */

#line {

	width : 200px;
	height: 2px;
	background: black;
    
}

/* #line:before{
	
	position: relative;
     content: "";
	top:-20px;
	animation-name: ex;
	animation-duration: 2s;
	animation-iteration-count: infinite;
} */